<div class="container">
	<div class="row">
		<h1>Hola desde el escritorio</h1>
	</div>
	<div class="row">
		<%=link_to 'Proveedores', providers_path, :class => 'btn btn-success'%>
		<%=link_to 'Partes', parts_path, :class => 'btn btn-primary'%>
		<%=link_to 'Fabricantes' ,manufacturers_path, :class => 'btn btn-success'%>
	</div>
</div>